/* Styles in head */
img {
  height: 250px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  
}

/* Styles in body */
body {
  background-color: tomato;
}
.Content{
  width: 75%;
  height: 90%;
  padding: 5%;
  border: 5px solid gray;
  margin: 10%;
  margin-top:1%;
  display: block;
  background-color: white;
  text-align: center;
  
}