
form {
  padding-top: 10px;
}
/* Styles in body */
body {
  background-color: tomato;
}
.Content{
  width: 75%;
  height: 90%;
  padding:2%;
  border: 5px solid gray;
  margin: 10%;
  margin-top:1%;
  display: block;
  background-color: white;
  text-align: center;
  
}